<html>
    <head>
        <meta charset="utf-8">
        <title>D3.js collapsible tree with boxes</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width">
        <link rel="stylesheet" type="text/css" href="tree-boxes.css">
    
        <script src="https://code.jquery.com/jquery-latest.min.js" type="text/javascript"></script>
        <script src="https://d3js.org/d3.v3.min.js" type="text/javascript"></script>
        <script src="tree-boxes.js" type="text/javascript"></script>
        <style>
                .navigation-bar {
                    width: 100%;  /* i'm assuming full width */
                    height: 80px; /* change it to desired width */
                    background-color: rgb(11, 35, 71); /* change to desired color */
                }
                .logo {
                    display: inline-block;
                    vertical-align: top;
                    width: 50px;
                    height: 50px;
                    margin-right: 20px;
                    margin-top: 15px;    /* if you want it vertically middle of the navbar. */
                }
                .navigation-bar > a {
                    display: inline-block;
                    vertical-align: top;
                    color: white;
                    margin-right: 20px;
                    height: 80px;        /* if you want it to take the full height of the bar */
                    line-height: 80px;    /* if you want it vertically middle of the navbar */
                }
                .navigation-bar > a:hover {
                    background: rgb(44, 118, 255);
                }
            </style>
        </head>
        <body>
            <nav class="navigation-bar">
                <a href="test"><img class="logo" src="images/DASH_logo.png" style="width : 130px"></a>
                <a href="#">make Product</a>
                <a href="#">use Product</a>
                <a href="#">move Product</a>
            </nav>
        <ct-visualization id="tree-container"></ct-visualization>
        <script>
            var json = <%- JSON.stringify(result) %>
            treeBoxes('',json.tree);
            
        </script>
    </body>
</html>